<ion-view view-title="Details"> 
	<ion-content class="has-header" ng-model="attributes">
		<h3>Property/Business: {{attributes.Property_Business_Name}}</h3>
		<p>Address: {{attributes.Street_Address}}<br>
		{{attributes.City}}, {{attributes.Island}} {{attributes.Zip_Code}}</p>
		<p>Charger Fee: {{attributes.Charger_Fee}}</p>
		<p>Manufacturer: {{attributes.Manufacturer_s_}}</p>
		<p>Notes: {{attributes.Notes}}</p>
		<button ng-click="geolocateOnMap({lat:{{attributes.Latitude}}, lng:{{attributes.Longitude}}})">Map</button>
		
		<ion-item ng-repeat="(key, value) in attributes">
			{{key}}: {{value}}
		</ion-item>
		
	</ion-content>
</ion-view>
