<ion-view view-title="Map">
    <ion-nav-buttons class="bar-royal" side="right">
      <button class="button button-icon icon ion-settings" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
	<ion-content scroll="false">
	
        <esri-map id="map" center="map.center" zoom="map.zoom" basemap="{{map.basemap}}" load="onMapLoad" register-as="evcsMap">
			
			<esri-feature-layer
				url="http://services6.arcgis.com/GppfEaYzw3YLUhtB/arcgis/rest/services/Hawaii_Public_Electric_Vehicle_Charging_Stations/FeatureServer/0"
				layer-options="{
					outFields: ['*'],
					id: 'evcsFeatureLayer'
				}"
				definition-expression="{{definitionExpression}}">
				
				<esri-info-template title=${Property_Business_Name}>
					<span>Address: ${Street_Address}<br>
					${City}, ${Island}, ${Zip_Code}</span><br>
					<span>Location: ${Charger_Location}</span><br>
					<span>Hours of Operation: ${Hours_of_Operation}</span><br>
					<span>Charge Fee: ${Charger_Fee}</span><br>
					<hr>
					<span>Notes: ${Notes}</span>
				</esri-info-template>
				
			</esri-feature-layer>
			
        </esri-map>
	
	</ion-content>
	
	<ion-footer-bar class="bar-royal">
		<button class="button icon ion-android-locate" ng-click="getLocation()"></button>
	</ion-footer-bar>
</ion-view>
